body,
div,
section,
header,
footer,
nav,
section,
aside,
article,
ul,
ol,
li,
a,
dl,
dt,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    color: #333;
    box-sizing: border-box;
    font-family: "Microsoft Yahei", sans-serif;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    &:focus {
        outline: none;
    }
     ::-webkit-scrollbar {
        width: 0;
        height: 0;
        background-color: #f5f5fC;
    }
}

.blk {
    display: block;
}

.hidden {
    display: none !important;
}

a:hover,
a:active,
a:visited,
a:link,
a:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    outline: none;
    background: none;
    text-decoration: none;
}